

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background:url('https://cdn.pixabay.com/photo/2017/10/05/10/37/paper-2818976_1280.jpg')
}


h1 {
    text-align: center;
    margin-top: 20px;
    color: #0D2C5E;
    font-size:90px;
}


.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #e4eff5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 200 300 100px rgb(0, 0, 0);
}


.container h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #0c2b5a;
    font-style: oblique;
    font-size:20px;
}


hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 6px;
    border-top: 1px solid #257aa5;
}


.container div {
    margin-bottom: 20px;
}

.container input[type="radio"] {
    margin-right: 10px;
}

.container input[type="submit"] {
    width: 100%;
    background-color:#0c2b5a;;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #d2c7fc;
}

    
 .content{
    font-style:oblique;
    font-style:italic;
    font-weight: bold;
 }
 label {
    color: #0c2b5a;
 }